{% extends "base.html" %}
{% load xn %}
{% block customjs %}
<script type="text/javascript" language="JavaScript">
    $(function(){
		function vote(e){
			e.preventDefault();
			var type = e.data.type;
			if(type == 'agree'){
				var tid = e.target.id.substring(10);
			}else{
				var tid = e.target.id.substring(13);
			}
			var buttons_div = $('#vote_buttons_'+tid);
			var buttons = buttons_div.html();
			$.ajax({
                url: '{% url vote %}',
                data: {
					'uid':'{{uid}}',
					'session_key':'{{session_key}}',
					'thought_id':tid,
					'type':e.data.type
				},
                dataType: 'json',
                timeout: 20000,
                beforeSend: function(){
					$('#vote_info_'+tid).show();
					$('#vote_buttons_'+tid).hide();
                    hideInfo();
                    hideError();
                },
                success: function(data){
					if(type == 'agree'){
						$('#vote_info_'+tid).addClass('agree-text').html('我同意该想法');
					}else if (type == 'disagree'){
						$('#vote_info_'+tid).addClass('disagree-text').html('我不同意该想法');
					}
                },
                error: function(){
                    showErrorDlg('投票发生错误，请重试一次。',e);
					$('#vote_info_'+tid).hide();
					$('#vote_buttons_'+tid).show();
                },
                type: 'POST'
            });
		}
		function publishComment(e){
			e.preventDefault();
			if(validateComment(e)){
				$.ajax({
	                url: '{% url new_comment %}',
	                data: $('#form_comment').serialize(),
	                dataType: 'json',
	                timeout: 20000,
	                beforeSend: function(){
	                    $('#publish_comment').addClass('btn-disabled').html('请稍候...').unbind('click');
						$('#cancel_comment').addClass('btn-disabled').unbind('click');
	                    hideInfo();
	                    hideError();
	                },
	                success: function(data){
						$('#comments>ul').prepend(data.frag);
						$('#comments>ul>li:first').highlight();
						$('#publish_comment').removeClass('btn-disabled').html('发表评论').click(publishComment);
						$('#cancel_comment').removeClass('btn-disabled').click(cancelComment);
						$('#new_comment_text').val('');
						showInfoDlg('评论发表成功！',e);
						initEvents();
	                },
	                error: function(){
	                    showErrorDlg('发表评论发生错误，请重试一次。',e);
						$('#publish_comment').removeClass('btn-disabled').html('发表评论').click(publishComment);
						$('#cancel_comment').removeClass('btn-disabled').click(cancelComment);
	                },
	                type: 'POST'
	            });
			}
		}
		function getNext(e){
			e.preventDefault();
			$.ajax({
	            url: '{% url next_comments %}',
	            data: {
					'thought_id':'{{thought.key.id}}',
					'offset':$('#offset').val(),
					'uid':'{{uid}}',
					'session_key':'{{session_key}}'
				},
	            dataType: 'html',
	            timeout: 20000,
	            beforeSend: function(){
	                $('#next').unbind('click');
	                hideInfo();
	                hideError();
	            },
	            success: function(data){
					$('#comments').html(data);
					$('#next').click(getNext);
					$('#prev').click(getPrev);
					initEvents();
	            },
	            error: function(){
	                showErrorDlg('获取评论失败，请重试一次。',e);
					$('#next').click(getNext);
	            },
	            type: 'POST'
	        });
		}
		function getPrev(e){
			e.preventDefault()
			$.ajax({
	            url: '{% url prev_comments %}',
	            data: {
					'thought_id':'{{thought.key.id}}',
					'offset':$('#offset').val(),
					'uid':'{{uid}}',
					'session_key':'{{session_key}}'
				},
	            dataType: 'html',
	            timeout: 20000,
	            beforeSend: function(){
	                $('#prev').unbind('click');
	                hideInfo();
	                hideError();
	            },
	            success: function(data){
					$('#comments').html(data);
					$('#prev').click(getPrev);
					$('#next').click(getNext);
					initEvents();
	            },
	            error: function(){
	                showErrorDlg('获取评论失败，请重试一次。',e);
					$('#prev').click(getPrev);
	            },
	            type: 'POST'
	        });
		}
		function validateComment(e){
			if($('#new_comment_text').val().length == 0){
				showErrorDlg('还没填写评论内容呢！',e);
				return false;
			}else if($('#new_comment_text').val().length > 500){
				showErrorDlg('评论长度请不要超过500个字',e);
				return false;
			}else{
				return true;
			}
		}
		function cancelComment(e){
			$('#new_comment').slideUp();
		}
		function openReply(e){
			e.preventDefault();
			var comment_id = e.target.id.substring(6);
			$('#new_reply_'+comment_id).slideDown();
		}
		function cancelReply(e){
			e.preventDefault();
			var comment_id = e.target.id.substring(10);
			$('#new_reply_'+comment_id).slideUp();
		}
		function validateReply(id,e){
			var text = $('#replytext_'+id).val();
			if(text.length == 0){
				showErrorDlg('还没有填写回复内容呢！',e);
				return false;
			}else if(text.length > 500){
				showErrorDlg('回复评论长度请不要超过500个字',e);
				return false;
			}else{
				return true;
			}
		}
		function publishReply(e){
			e.preventDefault();
			var comment_id = e.target.id.substring(9);
			if(validateReply(comment_id,e)){
				$.ajax({
	                url: '{% url new_reply %}',
	                data: $('#form_reply_'+comment_id).serialize(),
	                dataType: 'json',
	                timeout: 20000,
	                beforeSend: function(){
	                    $(e.target).addClass('btn-disabled').html('请稍候...').unbind('click');
						$('#btncancel_'+comment_id).addClass('btn-disabled').unbind('click');
	                },
	                success: function(data){
						$(e.target).removeClass('btn-disabled').html('发表').click(publishReply);
						$('#btncancel_'+comment_id).removeClass('btn-disabled').click(cancelReply);
						$('#replytext_'+comment_id).val('');
						showInfoDlg('回复评论发表成功！',e);
	                },
	                error: function(){
	                    showErrorDlg('发表评论发生错误，请重试一次。',e);
						$(e.target).removeClass('btn-disabled').html('发表').click(publishReply);
						$('#btncancel_'+comment_id).removeClass('btn-disabled').click(cancelReply);
	                },
	                type: 'POST'
	            });
			}
		}
		function getReplies(e){
			e.preventDefault();
			var comment_id = e.target.id.substring(10);
			$.ajax({
                url: '{% url get_replies %}',
                data: {
					'comment_id':comment_id,
					'session_key':'{{session_key}}',
					'uid':'{{uid}}'
				},
                dataType: 'html',
                timeout: 20000,
                beforeSend: function(){
                    $(e.target).addClass('btn-disabled').unbind('click');
                },
                success: function(data){
					$(e.target).removeClass('btn-disabled').removeClass('show-reply').addClass('reply-open').click(toggleReplies);
					$('#replies_'+comment_id).html(data).slideDown();
					initEvents();
                },
                error: function(){
                    alert('获取回复信息发生错误，请重试一次。');
					$(e.target).removeClass('btn-disabled').click(getReplies);
                },
                type: 'POST'
            });
		}
		function toggleReplies(e){
			e.preventDefault();
			var comment_id = e.target.id.substring(10);
			var div = $('#replies_'+comment_id);
			if(div.is(':visible')){
				div.slideUp();
			}else{
				div.slideDown();
			}
			$(e.target).toggleClass('reply-open').toggleClass('reply-closed');
		}
		function openComment(e){
			e.preventDefault();
			$('#new_comment').slideDown();
		}
		function initEvents(){
			$('.btn-agree').bind('click',{type:'agree'},vote);
			$('.btn-disagree').bind('click',{type:'disagree'},vote);
			$('abbr[class*=timeago]').timeago();
			$('#add_comment').click(openComment);
			$('#cancel_comment').click(cancelComment);
			$('#publish_comment').click(publishComment);
			$('#next').click(getNext);
			$('#prev').click(getPrev);
			$('.open-reply').click(openReply);
			$('.reply-cancel').click(cancelReply);
			$('.reply-publish').click(publishReply);
			$('.show-reply').click(getReplies);
		}
		initEvents();
    });
</script>
{% endblock %}
{% block content %}
<div class="content">
    <div class="info hidden clear-both" id="info_msg">
    </div>
    <div class="errors hidden clear-both" id="errors_msg">
    </div>
    <div class="clearfix"/>
    <div class="box-container">
        <div class="detail-box">
            <div class="thought">
                {{thought}}
            </div>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td class="thumb">
                                <a target="_parent" href="{% xnurl profile_def thought.owner.uid %}"><img src="{{thought.owner.pic_url}}"/></a>
                            </td>
                            <td>
                                <div class="note">{{thought.note}}</div>
								<div class="author-info">
									<div class="float-left">{{thought.owner}}在<abbr class="timeago" title="{{date_created}}">{{date_created}}</abbr>提出</div>
									{% if voted %}
										{% if agreed %}
										<div class="float-right agree-text">我同意该想法</div>
										{% else %}
										<div class="float-right disagree-text">我不同意该想法</div>
										{% endif %}
									{% else %}
									<div class="float-right" id="vote_buttons">
										<div id="vote_info_{{thought.key.id}}" class="hidden">请稍候...</div>
										<div id="vote_buttons_{{thought.key.id}}">
											<a href="#" class="button btn-agree" id="btn_agree_{{thought.key.id}}">同意</a>
											<a href="#" class="button btn-disagree" id="btn_disagree_{{thought.key.id}}">不同意</a>
										</div>
									</div>
									{% endif %}
								</div>
								<div class="vote-results">{{thought.num_votes}}个投票，{{percent_agreed}}%同意，{{thought.num_total_comments}}条评论</div>
								<div class="vote-actions">
									<a class="link-comment" href="#" id="add_comment">评论</a> <span>|</span> <a class="link-ask" target="_parent" href="{% xnurl recommend thought.key.id %}">问问朋友怎么想</a>
								</div>
								<div class="thought-tags">
									{% if thought.get_tags|length %}
									<span class="tags-label">主题标签：</span>
									<ul>
									{% for tag in thought.get_tags %}
									<li><a href="{% xnurl tag_view tag.tag %}" target="_top">{{tag}}</a></li>
									{% endfor %}
									</ul>
									{% endif %}
								</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="content">
            </div>
        </div>
		<div class="new-comment" id="new_comment">
			<form id="form_comment" action="{% url new_comment %}">
				<textarea rows="2" cols="40" class="input-text" name="comment" id="new_comment_text"></textarea>
			<div class="buttons">
				<a href="#" class="button btn-publish" id="publish_comment">发表评论</a>
				<a href="#" class="button btn-cancel" id="cancel_comment">取消</a>
				<input type="hidden" name="uid" value="{{uid}}"/>
				<input type="hidden" name="session_key" value="{{session_key}}"/>
				<input type="hidden" name="thought_id" value="{{thought.key.id}}"/>
			</div>
			</form>
		</div>
		<div class="clearfix clear-both"/>
		<div class="comments" id="comments">
			<div class="paginator-bar">
			    {% if has_prev %}<a href="#" id="prev" class="link-prev">前{{page_len}}条</a>{% endif %}{% if has_prev and has_next %} <span>|</span> {% endif %}{% if has_next %}<a href='#' id='next' class="link-next">后{{page_len}}条</a>{% endif %}
			</div>
			<ul>
				{% for c in comments %}
				<li class="comment">
					<div class="thumb">
						<a target="_parent" href="{% xnurl profile_def c.author.uid %}"><img src="{{c.author.pic_url}}" width="50"/></a>
					</div>
					<div class="comment-content">
						<div class="comment-info">
							<div class="float-left">{{c.author.username}} <abbr class="timeago" title='{{c.get_formated_date}}'>{{c.get_formated_date}}</abbr></div>
							<div class="float-right">
								{% if c.voted %}
									{% if c.agreed %}
									<span class="agree-text">同意</span>
									{% else %}
									<span class="disagree-text">不同意</span>
									{% endif %}
								{% endif %}
							</div>
						</div>
						<div class="comment-text">{{c.content}}</div>
						<div class="comment-actions">{% if c.replies_list %}<a href="#" id="showreply-{{c.key.id}}" class="show-reply">{% endif %}{{c.replies_list|length}}条回复{% if c.replies_lise %}</a>{% endif %} | <a href="#" class="open-reply" id="reply-{{c.key.id}}">回复</a></div>
					</div>
					<div class="replies hidden" id="replies_{{c.key.id}}"></div>
					<div class="new-reply hidden" id="new_reply_{{c.key.id}}">
						<form action="{% url new_reply %}" id="form_reply_{{c.key.id}}">
							<textarea rows="2" cols="40" class="input-text" name="reply" id="replytext_{{c.key.id}}"></textarea>
							<div class="buttons">
								<a href="#" class="button btn-publish reply-publish" id="btnreply_{{c.key.id}}">发表</a>
								<a href="#" class="button btn-cancel reply-cancel" id="btncancel_{{c.key.id}}">取消</a>
							</div>
							<input type="hidden" name="uid" value="{{uid}}"/>
							<input type="hidden" name="session_key" value="{{session_key}}"/>
							<input type="hidden" name="thought_id" value="{{thought.key.id}}"/>
							<input type="hidden" name="comment_id" value="{{c.key.id}}"/>
						</form>
						<div class="clearfix clear-both"/>
					</div>
				</li>
				{% endfor %}
			</ul>
			<input type="hidden" id="offset" name="offset" value="{{offset}}"/>
		</div>
    </div>
</div>{% endblock %}